<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MJR Languages</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(190,245,192);box-shadow: 0px 0px 20px rgb(188,188,188);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index.html"><img width="100%" src="/img/logo%20matt.png" style="margin-top: 60px;"></a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a th:href="@{/}" class="nav-link active"  style="margin-top: 50px;"><i class="fas fa-home" style="color: black;"></i><span style="color: black;">Home</span></a></li>
                    <li class="nav-item"><a th:href="@{/}" class="nav-link" ><i class="fas fa-user" style="color: black;"></i><span style="color: black;">Profile</span></a></li>
                    <li class="nav-item"><a th:href="@{/students/table}" class="nav-link" ><i class="fas fa-table" style="color: black;"></i><span style="color: black;">Students</span></a></li>
                    <li class="nav-item"><a th:href="@{/}" class="nav-link"><i class="fas fa-table" style="color: black;"></i><span style="color: black;">Class To Teach</span></a></li>
                    <li class="nav-item"><a th:href="@{/}" class="nav-link"><i class="fas fa-user" style="color: black;"></i><span style="color: black;">Log In</span></a>
                        <hr>
                    </li>
                    <li class="nav-item"><a th:href="@{/students}"  class="nav-link" ><i class="fas fa-table" style="color: black;"></i><span style="color: black;">CRUD-Students</span></a></li>
                    <li  class="nav-item"><a th:href="@{/teachers}" class="nav-link"><i class="fas fa-table" style="color: black;"></i><span style="color: black;">CRUD-Teacher</span></a></li>
                    <li  class="nav-item"><a th:href="@{/}" class="nav-link"><i class="fas fa-table" style="color: black;"></i><span style="color: black;">Assign Schedule</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button" style="color: rgb(47,201,34);background: rgb(134,139,132);border-color: black;"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Manuel Silva</span></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="profile.html"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="login.html"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Home</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Class 1</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>28/09/20 18:00</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Class 2</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>28/09/20 18:00</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>class 3</span>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>28/09/20 18:00</span></div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2" style="border-left-color: rgb(4,3,0);">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>class 4</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>28/09/20 18:00</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-xl-8">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center" style="background: rgb(190,245,192);">
                                <h6 class="text-primary font-weight-bold m-0" style="color: black;">Students</h6>
                            </div>
                            <div th:switch="students">
                                <div th:case="*" class="card-body" >
                                    <div th:each="student: ${students}">
                                        <h6 th:text="${student.firstName} + ' ' + ${student.lastName}" class="mb-0"><strong></strong></h6>
                                    </div>
                                </div>
                                <button class="btn btn-primary float-right" type="button" style="margin-right:15px; margin-bottom: 15px;">View More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center" style="background: rgb(190,245,192);">
                                <h6 class="text-primary font-weight-bold m-0"><strong>Monthly Schedule</strong></h6>
                            </div>
                            <div class="card-body">
                                <h6 class="mb-0"><strong>October</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;"><strong>01/10/20 18:00</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;margin-top: 5px;"><strong>01/10/20 18:00</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;margin-top: 5px;"><strong>01/10/20 18:00</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;margin-top: 5px;"><strong>01/10/20 18:00</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;margin-top: 5px;"><strong>01/10/20 18:00</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;margin-top: 5px;"><strong>01/10/20 18:00</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;margin-top: 5px;"><strong>01/10/20 18:00</strong></h6>
                                <h6 class="mb-0" style="margin-top: 5px;"><strong>November</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;"><strong>01/11/20 18:00</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;margin-top: 5px;"><strong>01/11/20 18:00</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;margin-top: 5px;"><strong>01/11/20 18:00</strong></h6>
                                <h6 class="mb-0" style="font-size: 14px;margin-top: 5px;"><strong>01/11/20 18:00</strong></h6>
                                <button class="btn btn-primary float-right" type="button">View More</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © MJR Languages 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>